* {
  
  box-sizing: border-box;
}
/* nunito-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  src: url("./Fonts/nunito-sans-v12-latin-300.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("./Fonts/nunito-sans-v12-latin-300.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./Fonts/nunito-sans-v12-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("./Fonts/nunito-sans-v12-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  src: url("./Fonts/nunito-sans-v12-latin-600.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("./Fonts/nunito-sans-v12-latin-600.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-sans-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  src: url("./Fonts/nunito-sans-v12-latin-800.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("./Fonts/nunito-sans-v12-latin-800.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
:root {
  /*Typography*/
  --family: font-family: "Nunito Sans", "Open Sans", "Helvetica Neue", sans-serif;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;

  /*Other*/
  --radii: 0.5rem;
}
body[data-theme="dark"] {
	--color-text: hsl(0, 0%, 100%);
	--color-bg: hsl(207, 26%, 17%);
	--color-ui-base: hsl(209, 23%, 22%);
	--shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
}
body[data-theme="light"] {
	--color-text: hsl(200, 15%, 8%);
	--color-bg: hsl(0, 0%, 98%);
	--color-ui-base: hsl(0, 0%, 100%);
	--shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

body {
  margin: 0;
  padding: 0;
font-family: var(--family);
color: var(--color-text);
font-weight: var(--fw-light);
background-color: var(--color-bg);
}